<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.server.pitch.cv.mapper.CVMapper">

<!--SELECT QUERY-->

    <select id="selectApplyCheck" resultType="Integer">
        select cv_no
        from apply
        where cv_no=#{cv_no}
    </select>

    <select id="selectCountReq" resultType="ChartData">
        SELECT cv_data_view.job_posting_no,
               COUNT(DISTINCT career_no) / COUNT(DISTINCT apply.cv_no) AS career_count,
               COUNT(DISTINCT activity_no) / COUNT(DISTINCT apply.cv_no) AS activity_count,
               COUNT(DISTINCT skill_no) / COUNT(DISTINCT apply.cv_no) AS skill_count,
               COUNT(DISTINCT advantage_no) / COUNT(DISTINCT apply.cv_no) AS advantage_count,
               COUNT(DISTINCT cert_no) / COUNT(DISTINCT apply.cv_no) AS cert_count,
               avg(distinct cv_data_view.score) AS avg_score,
               count(distinct language_no) /count(distinct apply.cv_no) as lang_count
        FROM cv_data_view
                 JOIN apply ON cv_data_view.cv_no = apply.cv_no
        WHERE edu_type like '%대학교%' and apply.job_posting_no =#{job_posting_no}
        GROUP BY cv_data_view.job_posting_no
    </select>

    <select id="selectCountReqUser" resultType="ChartData">
        select  count(distinct career_no) as career_count,
                COUNT(DISTINCT activity_no) as activity_count,
                COUNT(DISTINCT skill_no) as skill_count,
                COUNT(DISTINCT advantage_no) as advantage_count,
                COUNT(DISTINCT cert_no) as cert_count,
                score as avg_score,
                count(distinct language_no) as lang_count
        from cv_data_view
        where cv_no = #{cv_no} and edu_type like '%대학교%'
    </select>

    <select id="selectCVNO" resultType="Integer">
        SELECT cv_no FROM cv
        WHERE job_posting_no = #{job_posting_no} AND user_id = #{user_id}
    </select>

    <select id="selectMainCVNO" resultType="Integer">
        SELECT cv_no FROM cv
        WHERE cv_status = #{cv_status} AND user_id = #{user_id}
    </select>

    <select id="selectPosition" resultType="String">
        SELECT job_role
        FROM jobposting AS a LEFT JOIN  jobreq AS b
                                        ON a.job_req_no = b.job_req_no
        WHERE job_posting_no = #{job_posting_no}
    </select>



    <select id="selectJobInfo" resultMap="jobInfoResultMap">
        SELECT jr.job_req_no, user_id, req_title, job_req_date, job_group, job_role, location, hire_num, education, job_type, job_year, posting_type, posting_period, posting_start, posting_end, qualification, preferred, job_duties, req_status, jp.job_posting_no, posting_status
        FROM jobreq AS jr
                 LEFT JOIN jobposting AS jp ON jr.job_req_no = jp.job_req_no
        WHERE job_posting_no = #{job_posting_no}
    </select>

    <resultMap id="jobInfoResultMap" type="JobReqCV">
        <id property="job_req_no" column="job_req_no"/>
        <result property="user_id" column="user_id"/>
        <result property="req_title" column="req_title"/>
        <result property="job_req_date" column="job_req_date"/>
        <result property="job_group" column="job_group"/>
        <result property="job_role" column="job_role"/>
        <result property="location" column="location"/>
        <result property="hire_num" column="hire_num"/>
        <result property="education" column="education"/>
        <result property="job_type" column="job_type"/>
        <result property="job_year" column="job_year"/>
        <result property="posting_type" column="posting_type"/>
        <result property="posting_period" column="posting_period"/>
        <result property="posting_start" column="posting_start"/>
        <result property="posting_end" column="posting_end"/>
        <result property="qualification" column="qualification"/>
        <result property="preferred" column="preferred"/>
        <result property="job_duties" column="job_duties"/>
        <result property="req_status" column="req_status"/>

        <!-- Include the JobPosting resultMap -->
        <association property="job_posting" resultMap="jobPostingResultMap">
            <id property="job_posting_no" column="job_posting_no"/>
            <!-- Add other properties specific to JobPosting -->
        </association>
    </resultMap>

    <resultMap id="jobPostingResultMap" type="JobPostingCV">
        <id property="job_posting_no" column="job_posting_no"/>
        <result property="job_req_no" column="job_req_no"/>
        <!-- Add other properties specific to JobPosting -->
    </resultMap>


    <select id="selectCVFile" resultType="CVFile">
        select cv_file_no, cv_no, user_id, file_name, file_type, file_size, upload_date, path, type
        from cvfile
        where user_id=#{user_id} AND cv_no=#{cv_no}
    </select>

    <select id="selectApplyList" resultType="Apply">
        select apply_no, cv_no, user_id, job_posting_no, apply_date, applicant_status, note, read_status, status_type
        from apply
        where user_id = #{user_id};
    </select>
    <select id="selectCVList" resultMap="cvDataViewResultMap" >
        SELECT cv_no,
               user_id,
               job_posting_no,
               gender,
               address,
               activity_no,
               activity_detail,
               end_date,
               start_date,
               organization,
               activity_type,
               user_id,
               advantage_no,
               advantage_type,
               consent,
               advantage_detail,
               career_no,
               company_name,
               cv_dept_name,
               join_date,
                quit_date,
               position,
               job,
               salary,
               note,
               cert_no,
               cert_name,
               publisher,
               acquisition_date,
               cv_file_no,
               file_name,
               file_type,
               file_size,
               path,
               type,
               upload_date,
               edu_no,
               edu_type,
               enter_date,
               graduate_date,
               graduate_type,
               major,
               score,
               total_score,
               language_no,
               exam_type,
               language_name,
               language_score,
               skill_no,
               skill_name,
               skill_domain,
               dept_no,
               user_pw,
               role,
               user_phone,
               user_email,
               user_birth,
               user_nm
        FROM cv_data_view
        WHERE cv_no = #{cv_no} AND user_id = #{user_id}
    </select>

    <resultMap id="cvDataViewResultMap" type="CV">
        <id property="cv_no" column="cv_no"/>
        <id property="user_id" column="user_id"/>
        <result property="job_posting_no" column="job_posting_no"/>
        <result property="gender" column="gender"/>
        <result property="address" column="address"/>
        <result property="user_nm" column="user_nm"/>
        <result property="user_phone" column="user_phone"/>
        <result property="user_email" column="user_email"/>
        <result property="user_birth" column="user_birth"/>
        <collection property="activities" resultMap="activityMap"/>
        <collection property="advantages" resultMap="advantageMap"/>
        <collection property="careers" resultMap="careerMap"/>
        <collection property="certifications" resultMap="certificationMap"/>
        <collection property="cvFiles" resultMap="cvFileMap"/>
        <collection property="educations" resultMap="educationMap"/>
        <collection property="languages" resultMap="languageMap"/>
        <collection property="skills" resultMap="skillMap"/>
    </resultMap>

    <resultMap id="activityMap" type="Activity">
        <id property="cv_no" column="cv_no"/>
        <id property="user_id" column="user_id"/>
        <id property="activity_no" column="activity_no"/>
        <result property="activity_type" column="activity_type"/>
        <result property="organization" column="organization"/>
        <result property="activity_type" column="activity_type"/>
        <result property="start_date" column="start_date"/>
        <result property="end_date" column="end_date"/>
        <result property="activity_detail" column="activity_detail"/>
    </resultMap>

    <resultMap id="advantageMap" type="Advantage">
        <id property="cv_no" column="cv_no"/>
        <id property="user_id" column="user_id"/>
        <id property="advantage_no" column="advantage_no"/>
        <result property="advantage_type" column="advantage_type"/>
        <result property="advantage_detail" column="advantage_detail"/>
        <result property="consent" column="consent"/>
    </resultMap>

    <resultMap id="careerMap" type="Career">
        <id property="cv_no" column="cv_no"/>
        <id property="user_id" column="user_id"/>
        <id property="career_no" column="career_no"/>
        <result property="company_name" column="company_name"/>
        <result property="cv_dept_name" column="cv_dept_name"/>
        <result property="join_date" column="join_date"/>
        <result property="quit_date" column="quit_date"/>
        <result property="position" column="position"/>
        <result property="job" column="job"/>
        <result property="salary" column="salary"/>
        <result property="note" column="note"/>
    </resultMap>

    <resultMap id="certificationMap" type="Certification">
        <id property="cv_no" column="cv_no"/>
        <id property="user_id" column="user_id"/>
        <id property="cert_no" column="cert_no"/>
        <result property="cert_name" column="cert_name"/>
        <result property="publisher" column="publisher"/>
        <result property="acquisition_date" column="acquisition_date"/>
    </resultMap>

    <resultMap id="cvFileMap" type="CVFile">
        <id property="cv_no" column="cv_no"/>
        <id property="user_id" column="user_id"/>
        <id property="cv_file_no" column="cv_file_no"/>
        <result property="file_name" column="file_name"/>
        <result property="file_type" column="file_type"/>
        <result property="file_size" column="file_size"/>
        <result property="upload_date" column="upload_date"/>
        <result property="path" column="path"/>
        <result property="type" column="type"/>
    </resultMap>

    <resultMap id="educationMap" type="Education">
        <id property="cv_no" column="cv_no"/>
        <id property="user_id" column="user_id"/>
        <id property="edu_no" column="edu_no"/>
        <result property="edu_type" column="edu_type"/>
        <result property="enter_date" column="enter_date"/>
        <result property="graduate_date" column="graduate_date"/>
        <result property="graduate_type" column="graduate_type"/>
        <result property="major" column="major"/>
        <result property="score" column="score"/>
        <result property="total_score" column="total_score"/>
    </resultMap>

    <resultMap id="languageMap" type="Language">
        <id property="cv_no" column="cv_no"/>
        <id property="user_id" column="user_id"/>
        <id property="language_no" column="language_no"/>
        <result property="exam_type" column="exam_type"/>
        <result property="language_name" column="language_name"/>
        <result property="language_score" column="language_score"/>
    </resultMap>

    <resultMap id="skillMap" type="Skill">
        <id property="cv_no" column="cv_no"/>
        <id property="user_id" column="user_id"/>
        <id property="skill_no" column="skill_no"/>
        <result property="skill_name" column="skill_name"/>
        <result property="skill_domain" column="skill_domain"/>
    </resultMap>

<!--INSERT QUERY-->
    <insert id="insertCV">
        <selectKey keyProperty="cv_no" order="BEFORE" resultType="int">
            SELECT nextval(cv_no_seq)
        </selectKey>
        insert into cv (cv_no, user_id,gender, address,job_posting_no, cv_status)
        values (#{cv_no},#{user_id},#{gender},#{address},#{job_posting_no},#{cv_status})
    </insert>

    <insert id="insertCVFile">
        <selectKey keyProperty="cv_file_no" order="BEFORE" resultType="int">
            SELECT nextval(cv_file_no_seq)
        </selectKey>
        insert into cvfile (cv_file_no, cv_no, user_id, file_name, file_type, file_size, upload_date, path,type)
        values (#{cv_file_no},#{cv_no},#{user_id},#{file_name},#{file_type},#{file_size},#{upload_date},#{path},#{type})
    </insert>

    <insert id="insertActivity">
        <selectKey keyProperty="activity_no" order="BEFORE" resultType="int">
            SELECT nextval(activity_no_seq)
        </selectKey>
        insert into activity (activity_no, cv_no, user_id, activity_type, organization, start_date, end_date,activity_detail)
        values (#{activity_no}, #{cv_no}, #{user_id}, #{activity_type}, #{organization}, #{start_date},#{end_date}, #{activity_detail})
    </insert>

    <insert id="insertAdvantage">
        <selectKey keyProperty="advantage_no" order="BEFORE" resultType="int">
            SELECT nextval(advantage_no_seq)
        </selectKey>
        insert into advantage (advantage_no, cv_no, user_id, advantage_type, advantage_detail, consent)
        values (#{advantage_no},#{cv_no},#{user_id},#{advantage_type},#{advantage_detail},#{consent})
    </insert>

    <insert id="insertCareer">
        <selectKey keyProperty="career_no" order="BEFORE" resultType="int">
            SELECT nextval(career_no_seq)
        </selectKey>
        insert into career (career_no, cv_no, user_id, company_name, cv_dept_name, join_date, position, job, salary, note,quit_date)
        values (#{career_no},#{cv_no},#{user_id},#{company_name},#{cv_dept_name},#{join_date},#{position},#{job},#{salary},#{note},#{quit_date})
    </insert>

    <insert id="insertCertification">
        <selectKey keyProperty="cert_no" order="BEFORE" resultType="int">
            SELECT nextval(cert_no_seq)
        </selectKey>
        insert into certification (cert_no, cv_no, user_id, cert_name, publisher, acquisition_date)
        values (#{cert_no},#{cv_no},#{user_id},#{cert_name},#{publisher},#{acquisition_date})
    </insert>

    <insert id="insertEducation">
        <selectKey keyProperty="edu_no" order="BEFORE" resultType="int">
            SELECT nextval(edu_no_seq)
        </selectKey>
        insert into education (edu_no, cv_no, user_id, edu_type, enter_date, graduate_date, graduate_type, major, score,
                               total_score)
        values (#{edu_no}, #{cv_no}, #{user_id}, #{edu_type}, #{enter_date}, #{graduate_date}, #{graduate_type},
                #{major}, #{score}, #{total_score})
    </insert>

    <insert id="insertLanguage">
        <selectKey keyProperty="language_no" order="BEFORE" resultType="int">
            SELECT nextval(language_no_seq)
        </selectKey>
        insert into language (language_no, cv_no, user_id, exam_type, language_name, language_score)
        values (#{language_no},#{cv_no},#{user_id},#{exam_type},#{language_name},#{language_score})
    </insert>

    <insert id="insertSkill">
        <selectKey keyProperty="skill_no" order="BEFORE" resultType="int">
            SELECT nextval(skill_no_seq)
        </selectKey>
        insert into skill (skill_no, cv_no, user_id, skill_name, skill_domain)
        values (#{skill_no},#{cv_no},#{user_id},#{skill_name},#{skill_domain})
    </insert>

    <insert id="insertApply">
        <selectKey keyProperty="apply_no" order="BEFORE" resultType="int">
            SELECT nextval(apply_no_seq)
        </selectKey>
        insert into apply (apply_no, cv_no, user_id, job_posting_no, apply_date)
        values (#{apply_no},#{cv.cv_no},#{cv.user_id},#{cv.job_posting_no},SYSDATE())
    </insert>

<!--UPDATE QUERY-->
    <update id="updateCV">
        UPDATE cv
        SET gender = #{gender}, address = #{address}, cv_status = #{cv_status}
        WHERE cv_no = #{cv_no} AND user_id = #{user_id}
    </update>

    <update id="updateActivity">

        UPDATE activity
        SET activity_type = #{activity_type}, organization = #{organization},
            start_date = #{start_date}, end_date = #{end_date}, activity_detail = #{activity_detail}
        WHERE activity_no = #{activity_no} AND cv_no = #{cv_no} AND user_id = #{user_id}
    </update>

    <update id="updateAdvantage">

        UPDATE advantage
        SET advantage_type = #{advantage_type}, advantage_detail = #{advantage_detail}, consent = #{consent}
        WHERE advantage_no = #{advantage_no} AND cv_no = #{cv_no} AND user_id = #{user_id}
    </update>

    <update id="updateCareer">

        UPDATE career
        SET company_name = #{company_name}, cv_dept_name = #{cv_dept_name},
            join_date = #{join_date}, position = #{position}, job = #{job}, salary = #{salary}, note = #{note}, quit_date = #{quit_date}
        WHERE career_no = #{career_no} AND cv_no = #{cv_no} AND user_id = #{user_id}

    </update>

    <update id="updateCertification">

        UPDATE certification
        SET cert_name = #{cert_name}, publisher = #{publisher}, acquisition_date = #{acquisition_date}
        WHERE cert_no = #{cert_no} AND cv_no = #{cv_no} AND user_id = #{user_id}
    </update>

    <update id="updateEducation">

        UPDATE education
        SET edu_type = #{edu_type}, enter_date = #{enter_date}, graduate_date = #{graduate_date},
            graduate_type = #{graduate_type}, major = #{major}, score = #{score}, total_score = #{total_score}
        WHERE edu_no = #{edu_no} AND cv_no = #{cv_no} AND user_id = #{user_id}
    </update>

    <update id="updateLanguage">

        UPDATE language
        SET exam_type = #{exam_type}, language_name = #{language_name}, language_score = #{language_score}
        WHERE language_no = #{language_no} AND cv_no = #{cv_no} AND user_id = #{user_id}
    </update>

    <update id="updateSkill">

        UPDATE skill
        SET skill_name = #{skill_name}, skill_domain = #{skill_domain}
        WHERE skill_no = #{skill_no} AND cv_no = #{cv_no} AND user_id = #{user_id}
    </update>

<!--    DELETE MAPPER-->
    <delete id="deleteActivity">
        delete
        from activity
        where activity_no = #{activity_no}
    </delete>

    <delete id="deleteAdvantage">
        delete
        from advantage
        where advantage_no = #{advantage_no};
    </delete>

    <delete id="deleteCareer">
        delete
        from career
        where career_no = #{career_no}
    </delete>

    <delete id="deleteCertification">
        delete
        from certification
        where cert_no = #{cert_no}
    </delete>

    <delete id="deleteEducation">
        delete
        from education
        where edu_no = #{edu_no}
    </delete>

    <delete id="deleteLanguage">
        delete
        from language
        where language_no = #{language_no}
    </delete>

    <delete id="deleteSkill">
        delete
        from skill
        where skill_no = #{skill_no}
    </delete>

    <delete id="deleteCVFile">
        delete
        from cvfile
        where cv_file_no = #{cv_file_no}
    </delete>
</mapper>
