<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.server.pitch.users.mapper.UsersMapper">

    <resultMap id="userMap" type="Users">
        <id property="user_id" column="user_id"/>
        <result property="user_email" column="user_email"/>
        <result property="user_pw" column="user_pw"/>
        <result property="user_nm" column="user_nm"/>
        <result property="role" column="role"/>
        <result property="user_phone" column="user_phone"/>
        <result property="user_birth" column="user_birth"/>
        <collection property="department" ofType="Department">
            <id property="dept_no" column="dept_no"/>
            <result property="dept_name" column="dept_name"/>
            <result property="max_num" column="max_num"/>
        </collection>
    </resultMap>

<!--    <select id="list" resultType="Users">-->
<!--        select user_id, user_pw, user_nm, role from users-->
<!--    </select>-->

    <select id="list" resultMap="userMap">
        select user_id, user_pw, role, user_phone, user_email, user_birth, user_nm, dept_name from users u
        left join department d on d.dept_no = u.dept_no
    </select>

    <select id="hrList" resultMap="userMap">
        select user_id, user_pw, role, user_phone, user_email, user_birth, user_nm, dept_name from users u
        left join department d on d.dept_no = u.dept_no
        where role = 'HR'
    </select>

    <select id="deptList" resultType="Department">
        select dept_no, dept_name, max_num from department
    </select>

    <select id="selectDept" resultType="Department">
        select dept_no, dept_name, max_num from department
        where dept_name = #{dept_name}
    </select>

    <select id="selectUser" resultMap="userMap">
        select user_id, user_email, user_pw, user_nm, role,user_phone,user_birth from users
        <where>
            <if test="user_id != null">
                AND user_id = #{user_id}
            </if>
            <if test="user_email != null">
                AND user_email = #{user_email}
            </if>
        </where>
    </select>

    <insert id="insertUser">
        insert into users (user_id, user_email, user_pw, user_nm, user_phone, user_birth, dept_no, role)
        values (#{user_id}, #{user_email}, #{user_pw}, #{user_nm}, #{user_phone}, DATE_FORMAT(#{user_birth, jdbcType=DATE}, '%Y-%m-%d'), #{department.dept_no}, #{role})
    </insert>

    <update id="updateHr">
        update users set user_nm = #{user_nm},user_email = #{user_email}, user_phone = #{user_phone}, role = #{role} , dept_no = #{department.dept_no}
                     where user_id = #{user_id}
    </update>

    <delete id="deleteUser">
        delete from users where user_id = #{user_id}
    </delete>


</mapper>
